# Created by .ignore support plugin (hsz.mobi)
.idea
spring-study.iml

# starter
starter/starter.iml

# business
business/business.iml

business/user-manager/user-manager.iml
business/user-manager/target

# core
core/core.iml

core/security-oauth/security-oauth.iml
core/security-oauth/target

# microservice
microservice/microservice.iml

microservice/eureka/eureka.iml
microservice/eureka/target

microservice/zuul/zuul.iml
microservice/zuul/target


business/jta/jta.iml
business/jta/target

business/uid-generator/uid-generator.iml
business/uid-generator/target

business/rabbitmq-consumer/rabbitmq-consumer.iml
business/rabbitmq-consumer/target

business/rabbitmq-provider/rabbitmq-provider.iml
business/rabbitmq-provider/target

collect/collect.iml

collect/kafka/kafka.iml
collect/kafka/target


# starter
starter/lock-redisson-spring-boot/target
starter/lock-redisson-spring-boot/lock-redisson-spring-boot.iml
starter/lock-redisson-spring-boot/lock-redisson-spring-boot-autoconfigure/target
starter/lock-redisson-spring-boot/lock-redisson-spring-boot-autoconfigure/lock-redisson-spring-boot-autoconfigure.iml
starter/lock-redisson-spring-boot/lock-redisson-spring-boot-starter/targets
starter/lock-redisson-spring-boot/lock-redisson-spring-boot-starter/lock-redisson-spring-boot-starter.iml
/business/uid-generator/uid-generator.iml
