# Created by .ignore support plugin (hsz.mobi)
.idea
spring-study.iml

# starter
starter/starter.iml

# business
business/business.iml

business/user-manager/user-manager.iml
business/user-manager/target

# core
core/core.iml

core/security-oauth/security-oauth.iml
core/security-oauth/target

# microservice
microservice/microservice.iml

microservice/eureka/eureka.iml
microservice/eureka/target

microservice/zuul/zuul.iml
microservice/zuul/target


business/jta/jta.iml
business/jta/target

business/uid-generator/uid-generator.iml
business/uid-generator/target

business/rabbitmq-consumer/rabbitmq-consumer.iml
business/rabbitmq-consumer/target

business/rabbitmq-provider/rabbitmq-provider.iml
business/rabbitmq-provider/target

collect/collect.iml

collect/kafka/kafka.iml
collect/kafka/target


# starter
starter/redisson-lock-spring-boot/target
starter/redisson-lock-spring-boot/redisson-lock-spring-boot.iml
starter/redisson-lock-spring-boot/redisson-lock-spring-boot-autoconfigure/target
starter/redisson-lock-spring-boot/redisson-lock-spring-boot-autoconfigure/redisson-lock-spring-boot-autoconfigure.iml
starter/redisson-lock-spring-boot/redisson-lock-spring-boot-starter/targets
starter/redisson-lock-spring-boot/redisson-lock-spring-boot-starter/redisson-lock-spring-boot-starter.iml

collect/redis/redis.iml
collect/redis/target

component/component.iml
component/target

starter/component-spring-boot/component-spring-boot.iml
starter/component-spring-boot/target

starter/component-spring-boot/component-spring-boot-autoconfigure/component-spring-boot-autoconfigure.iml
starter/component-spring-boot/component-spring-boot-autoconfigure/target

starter/component-spring-boot/component-spring-boot-starter/component-spring-boot-starter.iml
starter/component-spring-boot/component-spring-boot-starter/target

common/common.iml
common/target

starter/web-log-spring-boot/web-log-spring-boot-autoconfigure/web-log-spring-boot-autoconfigure.iml
starter/web-log-spring-boot/web-log-spring-boot-autoconfigure/target

starter/web-log-spring-boot/web-log-spring-boot.iml
starter/web-log-spring-boot/target

starter/web-log-spring-boot/web-log-spring-boot-starter/web-log-spring-boot-starter.iml
starter/web-log-spring-boot/web-log-spring-boot-starter/target

starter/zookeeper-spring-boot/zookeeper-spring-boot.iml
starter/zookeeper-spring-boot/target

starter/zookeeper-spring-boot/zookeeper-spring-boot-starter/zookeeper-spring-boot-starter.iml
starter/zookeeper-spring-boot/zookeeper-spring-boot-starter/target

starter/zookeeper-spring-boot/zookeeper-spring-boot-autoconfigure/zookeeper-spring-boot-autoconfigure.iml
starter/zookeeper-spring-boot/zookeeper-spring-boot-autoconfigure/target
