<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tuacy.jta.mapper.business.BusinessInfoMapper">

    <select id="selectByPkId" resultType="com.tuacy.jta.entity.model.business.BusinessInfo">


        select
            pkid as pkId
            , `value` as `value`
        from  business_info
        where
            pkid = #{pkId}


    </select>

    <insert id="insert">

        insert into business_info (pkid, `value`) values (#{pkId}, #{value})

    </insert>

</mapper>
